*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    color: aliceblue;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header, .sobreMim{
    background-color:#2A3D45;
}
ul {
    display: flex;
    width: 49%;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    height: 10vh;
}

ul > li {
    list-style: none;
}

body{
    color: grey;
}

.banner{
    text-align: center;
    text-transform: uppercase;
    margin-top: 140px;
    font-size: 1.5rem;
    padding: 35px;
}
.banner_title-color{
    color: #C17C74;
}

.seta{
    padding: 50px;
    }

.seta_img_accordion{
    cursor: pointer;
    padding: 18px;
    width: 5%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.filter-seta{
    filter: invert(70%) sepia(50%) saturate(80%) hue-rotate(350deg) brightness(90%) contrast(90%);
}



.sobreMim{
    background-color: #2A3D45;
    text-align: center;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 16px;
    text-transform: none

}

.sobreMim--invisible{
    display: none;
}
.sobreMim_img{
    background-color: #ddd;
    border-radius: 100%;
    height: 157px;
    object-fit: cover;
    width: 157px;
}
.sobreMim_description{
    color: #949396;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
.projetos_title,  .titles{
    color: #c17c74;
    text-align: center;
    padding: 50px;
}
.projetos_site{
    display: flex;
}

.site_img{
    width:90%;
}
.site_title{
    color: #c17c74;
    width: 90%;
    margin-top: 20px;
    text-align: center;
}

.btn{
    padding: 20px;
    text-align: center;
    
}
.btn_link{
    color: #2A3D45;
    border: 2px solid #2f3f45;
    padding: 7px;
    margin-top: 18px;
    font-size: 0.87rem;
    margin-bottom: 21px;
    text-decoration: none;
    }
.btn_nav{
    color: #c17c74;
    text-decoration: none;
    text-align: left;
}

.btn_curriculo{
    color: #c17c74;
    padding: 7px;
    margin-top: 18px;
    font-size: 1.30rem;
    margin-bottom: 21px;
    text-decoration: none;
    text-transform: capitalize;

}

.contato{
    height: 50vh;
    background-color: #2A3D45;
}
.contato_icons{
    display: flex;
    height: 10vh;
    justify-content: space-around;
}
.contato_img{
    width: 10%;    
}
.contato_img-icon{
    width: 100%;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    padding: 10px;

}
@media(min-width:360px) and (max-width: 640px){
    nav{
        
        text-align: center;
    }
    
    ul{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        text-transform: uppercase;
        
    }
    .banner{
        margin-top: 60px;
        padding: 35px;
        font-size: 115%;
    }
    
    .banner_subtitle{
        text-transform: capitalize;
    }
   
    .projetos_site{
        display: block;
        text-align: center;
        font-size: 70%;
    
    }
    .site_img{
        height: 25vh;
        width: 120%;
        margin-left: -30px;
            
    }
    
    .sobreMim{
        padding: 30px;
    }
    .titles{
        padding: 20px;
    }
    .sobreMim_description{
        margin-top: 5vh;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.95rem;
        text-transform: initial;
    }
    
    .contato_title{
        padding: 0;
        margin-top: 20px;
        
        
    }
    .contato_icons{
        width: 30%;
        display: block;
        margin-left: 35%;
        margin-top: 15px;
    }
    .footer_description{
        display: none;
    }
}
   

    
    